<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="dltjckjaConnectionString" connectionString="Data Source=.;Initial Catalog=dltjcka;User ID=sa;password=as123456" providerName="System.Data.SqlClient"/>
    <add name="dltjckaconnect" connectionString="Data Source=.;Initial Catalog=dltjckja;User ID=sa;password=as123456" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
